<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--setttings:控制mybatis全局配置行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <!--环境配置：数据库的连接信息-->
    <!--default：中配置的值需要和某个environment配置的id相同，
        通知mybatis使用具体哪一个数据库的连接信息，即具体访问对应的数据库-->
    <environments default="development">
        <!--environment:一个数据库信息的配置，环境-->
        <!--id属性：一个唯一值，自定义，表示环境的名称-->
        <environment id="development">
            <!--transactionManager属性：mybatis的事务类型-->
            <transactionManager type="JDBC" />
            <!--dataSoure属性：代表数据源，连接数据库-->
            <!--type属性:JDBC 表示使用的是使用连接池的数据源-->
            <dataSource type="POOLED">
                <!--配置驱动-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--配置连接数据库的url字符串-->
                <property name="url" value="jdbc:mysql://localhost:3306/test1"/>
                <!--配置连接数据库的用户名-->
                <property name="username" value="root"/>
                <!--配置连接数据库的密码-->
                <property name="password" value="123qwe"/>
            </dataSource>
        </environment>
    </environments>
    <!--sql映射文件标签-->
    <mappers>
        <!--reource：从类路径开始的路径信息：target/clasess(类路径)-->
        <mapper resource="mapper/PersonMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>
